@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  align-items:center;
  padding:10px;
  justify-content: center;
  min-height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 11.7% 80.6%, rgb(0, 0, 0) 0%, rgba(20, 20, 20, 0.897) 49.3%, rgb(10, 10, 10)89%);
}

.wrapper{
  width:550px;
  background: #fff;
  border-radius:10px;
  box-shadow:0 15px 40px rgba(0,0,0,0.7);
} 

.wrapper header{
  display: flex;
  align-items:center;
  padding:25px 30px 10px;
  justify-content: space-between;
}

header {
  background-color: #070504;
  color: #fff;
  font-style: bold;
  font-weight: 300;

}

header .icons{
  display: flex;
}

header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align:center;
  line-height:38px;
  font-size:1.9rem;
  user-select:none;
  border-radius:50%;
}

.icons span:last-child{
  margin-right:-10px;
}

header .icons span:hover{
  background: pink;
}

header .current-date{
  font-size:1.4rem;
  font-weight:500;
}

.calendar{
  padding:10px;
  align-items: center;
  justify-content: center;
}

.consulta{
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  gap: 5px;
  padding: 10px;
 
  
}

.button-pes{
  width: 20px;
  border-radius: 3px;
  padding: 0 auto;
  border: 0;

}

.button-pes:hover{
  background-color: green;
}



.calendar .consulta input{
  
  border: 0 none;
  background-color: antiquewhite ;
}

.tip{
  border: 0 none;
}

.calendar ul{
  display: flex;
  flex-wrap:wrap;
  list-style:none;
  text-align:center;
}

.calendar .days{
  margin-bottom:20px;
}

.calendar li{
  color:#333;
  width: calc(100% / 7);
  font-size:1.07rem;
  justify-content: center;
  border-radius: 5px;
  height: 40px;
  
  align-content: center;
  
  
}
.weeks{
  align-items: center;
  justify-content: space-around;
  
  
}

.calendar .weeks li{
  font-weight:500;
  cursor:default;
  
  width: 40px;
  height: 40px;
  
  
}

.calendar .days li{
  z-index: 1;
  cursor:pointer;
  position: relative;
  margin-top:5px;
}

.days li.inactive{
  color:lightblue;
}

.days li.active{
  color:white;
}

.days li::before{
  position:absolute;
  content:"";
  left:50%;
  top:50%;
  height:40px;
  width:40px;
  z-index:-1;
  border-radius:20%;
  transform:translate(-50%, -50%);
  
}

.days li.active::before{
  background: #2dd0fd;
}

.days li:not(.active):hover::before{
  background:red;
}

.weeks{
  background-color:lightcyan;
  border-radius:10px 10px 0px 0px;
  
}

.Trabalha{
  background-color:rgb(155, 167, 180);
  border: 1px solid white;
  
}

.Folga{
  background-color:rgb(47, 155, 56);
  border: 1px solid white;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  
  
 
}

.denis{
  font-size: 4rem;
}





